@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap%27');

.menu-bar .label {
  -fx-font-family: "Roboto";
  -fx-text-fill: #FFFFFF;
}
.menu-item .label {
  -fx-font-family: "Roboto";
  -fx-text-fill: #000000;
}
.table-view .label {
  -fx-font-family: "Roboto";
  -fx-text-fill: #000000;
}